*{
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

body{
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Background Image */
.home{
    background-image: url(assets/coffee_front_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Top Navigation */
.topnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0px 80px;
}

/* Logo / Text */
.logo h1{
    color: white;
}

.topnav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* Navigation Links */
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex: 1;
}

.nav-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links ul a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

/* Search */
.search{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    color: white;
}

/* Center Section */
.title-section{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 0px 80px;
    margin-top: 150px;
    overflow: hidden;
}

.title{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title h2 {
    font-size: clamp(18px, 3vw, 30px);
    margin: 0;
    color: white;
}

.title h1 {
    font-size: clamp(32px, 6vw, 60px);
    margin: 0;
    color: white;
}

.title-section button{
    margin-top: 20px;
    padding: 15px;
    width: 150px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.title-section button:hover{
    background-color: #DACC96;
    color: white;
}

/* Category */
.category{
    margin: 0px;
    padding: 0px;
    padding: 10px 70px;
    background-color: #DACC96;
    overflow: hidden;
}

.category ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.category img{
    width: 50px;
    height: 50px;
    background-color: #DACC96;
}

.category ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* Special Coffee & Desserts */
.coffee-dessert{
    padding: 10px 80px;
}

.coffee-dessert .special-coffee{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.coffee-dessert h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 40px;
}

.card{
    background-color: #FFF0CE;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 10px;
}

.card .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-dessert .item{
    max-width: 600px;
    max-height: 400px;
    margin: 0;
    padding: 0;
    flex: 1;
}

.card .card-title{
    font-size: 12px;
}

.card .card-footer{
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #361500;
    color: white;
    border: none;
    padding: 0px 20px;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    border: 1px solid #361500;
    color: black;
}

/* Call to Action */
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 40px 80px;
    margin-top: 30px;
    background-color: #DACC96;
    gap: 60px;
    overflow: hidden;
}

.call-to-action h1{
    font-size: 50px;
    margin: 0; padding: 0;
}

.call-to-action > div{
    align-items: center;
    padding: 10px;
}

.call-to-action .img-left img{
    width: 300px;
    height: 200px;
}

.call-to-action .img-right img{
    width: 200px;
    height: 200px;
}

/* Testimonial */
.testimonial{
    padding: 50px 80px;
}

.title-testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial h1, .testimonial h2{
    margin: 0;
    padding: 0;
}

.testimonial h1{
    text-transform: uppercase;
}

.testimonial h2{
    font-family: 'Lavishly Yours';
    font-size: 50px;
}

.customer-testimonial{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;
}

.card-testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 10px;
    border: 3px solid #DACC96;
}

.card-testimonial .card-header{
    display: flex;
    flex-direction: row;
}

.customer-test{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.card-testimonial .customer{
    line-height: .5;
    padding: 10px;
}

.card-testimonial .stars{
    display: flex;
    justify-content: end;
    color: goldenrod;
}

.card-testimonial .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


/* Join Us */

.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #DACC96;
    margin-top: 20px;
    padding: 0px 0px;
    margin-bottom: 0px;
}

.subscribe input[type=text]{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    padding: 20px;
}

.subscribe img{
    padding: 0;
    margin: 0;
}

#joinus > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-color: #361500;
    padding: 50px 0px;
}

.footer > div{
    align-items: center;
    color: white;
    line-height: 2;
}

.footer h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
}

.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer .social-media ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


/* Responsive ----------------------------------------------------- */

@media screen and (max-width:1000px) {
    .nav-links ul{
        gap: 0;
    }

    .nav-links ul li{
        font-size: 12px;
    }

    .topnav{
        padding: 0px 50px;
    }

    .title-section{
        margin-top: 100px;
    }

    .title{
        width: auto;
    }

    .title-section button{
        padding: 10px;
        width: 100px;
        font-size: 13px;
    }

    .category{
        padding: 10px 50px;
    }

    .category img{
        width: 30px;
        height: 30px;
    }

    .special-coffee{
        overflow-x: auto;
    }

    .call-to-action{
        padding: 20px;
        gap: 10px;
    }

    .call-to-action h1{
        font-size: 20px;
    }

    .call-to-action .img-left img{
        width: 100px;
        height: 100px;
    }

    .call-to-action .img-right img{
        width: 100px;
        height: 100px;
    }

    .call-to-action .button{
        height: 40px;
    }

    .card-testimonial .customer{
        padding: 10px;
        line-height: 1;
        text-align: center;
    }

    .joinus_imgR{
        display: none;
    }

    .joinus_imgL img{
        width: 300px;
        height: 300px;
    }
    
    .subscribe .joinus .button{
        margin-top: 10px;
    }

    .footer{
        padding: 50px 20px;
    }
}

@media screen and (max-width: 600px){
    
    .nav-links{
        padding: 0;
    }

     .topnav{
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }

    .topnav h1{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    .nav-links ul{
        gap: 5px;
    }

    .nav-links ul a{
        padding: 10px;
    }

    .search{
        padding: 10px;
        display: none;
    }

    .nav-links ul{
        font-size: 10px;
    }

    .title-section{
            padding: 0px 30px;
    }

    .title{
        width: auto;
    }

    .category{
        padding: 10px 30px;
    }

    .category ul{
        justify-content: center;
        gap: 40px;
        padding: 0;
    }

    .category ul li{
        font-size: 10px;
    }

    .category img{
        width: 30px;
        height: 30px;
    }

    .coffee-dessert{
        padding: 10px 40px;
    }

    .call-to-action{
        padding: 0;
    }

    .call-to-action .button{
        font-size: 10px;
        padding: 0px 10px;
        height: 30px;
    }

    .call-to-action .img-right img{
        width: 100px;
        height: 100px;
    }

     .call-to-action .img-left img{
        display: none;
    }

    .testimonial{
        padding: 50px 20px;
    }
    
    .title-testimonial h1{
        font-size: 20px;
    }

    .customer-testimonial{
        justify-content: start;
    }

    .card-testimonial .card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-testimonial .card p{
        width: 200px;
    }

    .card-testimonial .customer{
        padding: 10px;
        line-height: 0;
        text-align: start;
    }
    
    .card-testimonial .stars{
        margin-top: 10px;
    }

    .joinus_imgL{
        display: none;
    }

    .subscribe{
        padding: 10px;
        justify-content: center;
    }

     .subscribe .joinus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-container{
        justify-content: center;
    }

    .footer{
        padding: 50px 20px;
    }

    .footer > div{
        width: 50%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width:300px){
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer ul{
        align-content: center;
    }

    .footer{
        padding: 50px 0px;
    }

    .footer > div{
        width: 100%;
    }

}
